
.cmr-frame-controller-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: move;
}

.cmr-frame-controller-wrapper:active {
    cursor: grab;
}

.cmr-rotated-base-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

.cmr-rotation-base {
    width: 100%;
    height: 100%;
    position: absolute;
}

.cmr-image-move-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

.cmr-image-controller {
    cursor: move;
    position: absolute;
    transform-origin: top left;
    outline: 2px solid rgb(98, 166, 255);
}

.cmr-image-controller:active {
    cursor: grab;
}

.cmr-resize-wrapper {
    position: absolute;
}

.cmr-image {
    pointer-events: none;
    user-select: none;
    position: absolute;
}

.cmr-rotation {
    width: 100%;
    height: 100%;
    position: absolute;
}

.cmr-container {
    position: relative;
    user-select: none;
    overflow: hidden;
}

.cmr-container.edit {
    overflow: visible;
}

.cmr-controller {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
}

.cmr-image-copy {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    user-select: none;
    pointer-events: none;
}

.cmr-frame {
    overflow: hidden;
    display: inline-block;
    line-height: 0;
    position: absolute;
}

.cmr-frame.edit {
    opacity: 0;
}

.cmr-frame-controller {
    position: absolute;
    outline: 1px solid violet;
    box-shadow: 0px 0px 0px 20000px #00000080;
}

.cmr-resize {
    position: absolute;
}

.cmr-active-screen {
    width: 100%;
    height: 100%;
    cursor: move;
    position: absolute;
}

.cmr-center-symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
}

.cmr-active-screen:active {
    cursor: grab;
}

.cmr-grid {
    position: absolute;
    outline: 1px dashed #ffffff88;
}

.cmr-grid.vert {
    width: calc(100% / 3);
    height: 100%;
    left: calc(100% / 3);
}

.cmr-grid.hor {
    width: 100%;
    height: calc(100% / 3);
    top: calc(100% / 3);
}

.cmr-frame-controller-point {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: violet;
    z-index: 1;
}

.cmr-resizer-point {
    cursor: default;
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: rgb(46, 161, 255);
    z-index: 1;
}

.cmr-point-e {
    margin-top: -3px;
    right: -3px;
    top: 50%;
}

.cmr-point-n {
    left: 50%;
    margin-left: -3px;
    top: -3px;
}

.cmr-point-w {
    left: -3px;
    margin-top: -3px;
    top: 50%;
}

.cmr-point-s {
    bottom: -3px;
    left: 50%;
    margin-left: -3px;
}

.cmr-point-ne {
    right: -3px;
    top: -3px;
}

.cmr-point-nw {
    left: -3px;
    top: -3px;
}

.cmr-point-sw {
    bottom: -3px;
    left: -3px;
}

.cmr-point-se {
    bottom: -3px;
    opacity: 1;
    right: -3px;
}
